/* ===About us Section=== */
body{
}
*{
    color: #FEE97A;
    
}
.about h5{
    font-size: 24px;
    color: #000000;
}
.about .title-border{
    width: 30%;
    height: 2px;
    display: block;
    background-color: #083156;
    border-radius: 50px;
    margin: 1%;
    margin-left: 35%;
}
.about p{
    font-size: 25px;
    color: #083156;
}
.Au.is{
    background-color: blue;
}
#delivery{
    color: #000000;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/* ===End of About Us=== */