body{
    background: url(https://images.unsplash.com/photo-1615811361523-6bd03d7748e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80); no-repeat;
    background-size: cover;
    height: 100%;
}

.body2{
    background: url(https://images.unsplash.com/photo-1583024011792-b165975b52f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvbnN0cnVjdGlvbiUyMHNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); no-repeat;
    background-size: cover;
    height: 100%;
}

.body3{
    background: url(https://images.unsplash.com/photo-1583024011792-b165975b52f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvbnN0cnVjdGlvbiUyMHNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); no-repeat;
    background-size: cover;
    height: 100%;
}

.body4{
    background: url(https://images.unsplash.com/photo-1583024011792-b165975b52f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvbnN0cnVjdGlvbiUyMHNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); no-repeat;
    background-size: cover;
    height: 100%;
}

.body5{
    background: url(https://images.unsplash.com/photo-1583024011792-b165975b52f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvbnN0cnVjdGlvbiUyMHNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); no-repeat;
    background-size: cover;
    height: 100%;
}

.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}

.header ul{
    text-align: center;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #7eb3e2;
    font-size: 17px;
    font-family: ;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover{
    background-color: rgb(254,233,122);
   
}

.boxcontainer{
    margin: auto;
    margin-top: 20%;
    position: absolute;
    width: 300px;
    height: 38px;
    padding: 0px 10px;
    right: 4%;
    bottom: 89%;
}

.elementcontainer{
    width: 100%;
    height: 100%;
    vertical-align: auto;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 17px;
    font-family:"nunito";
    color: #083155;
    font-weight: 500;
    border: transparent;
}

.search:focus{
    outline: none;
}

.material-icons-outlined{
    font-size: 25;
    color: #083155;
}

.logoimage{
    position: relative;
    right: 100%;
    top: -67px;
    left: -850px;
    height: 20%;
    width: 20%;
    
}

.logowords{
   position: relative;
    right: 100%;
    top: -67px;
    left: -850px;
   
}

#column{
    background-color: rgba(255, 255, 255, 0.671);
    width: 70%;
    height: 2%;
    display: flex;
    position: relative;
    left: 15%;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#column figure{
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    animation: 20s column infinite;
}

#column figure img{
    width: 20%;
    float: left;
}

.one{
    width: 5%;
    height: 100%;
}

.two{
    width: 5%;
    height: 100%;
}

.three{
    width: 5%;
    height: 100%;
}

.four{
    width: 5%;
    height: 100%;
}

.yellow{
    color: #f7b709;
    font-size: 100%;
    font-family:  ;
    letter-spacing: 2px;
    font-weight: 800;
}

h1{
    color: hsl(208, 83%, 18%);
    font-size: 200%;
    font-family: ;
    letter-spacing: 2px;
    font-weight: 400;
}

article{
    color: #082035;
    font-size: 130%;
    text-align: center;
    font-family: ;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 3%;
}

.services{
    background-color: rgba(255, 255, 255, 0.822);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.text{
    background-color: rgba(255, 255, 255, 0.822);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.text a:hover{
    background-color: rgb(255, 255, 255);
   
}

.text a{
    
    
    text-transform: none;
    font-size: 17px;
    font-family: ;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 5px;
    transition: all ease 0.5s;
}

.SERVICE{
    width: 2%;
    text-align: center;
}


.building{
    width: 70%;
    background-color: rgb(248, 248, 248);
    position: fixed;
    right: 7%;
    top: 20%;
    padding: 8%;
}

.title2{

text-align: center;

}

.flex-container {
    display: flex;
    background-color: rgba(102, 204, 252, 0.616);
    justify-content: space-evenly;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 5px;
    font-size: 120%;
  }

  .testimonials{
      background-color: #f1f1f1;
      text-align: center;
      margin-right: 40%;
margin-left: 40%;
      
  }

  .testimony{
      color: #082035;
  }

  .video{
      position: relative;
      left: 15%;
  }


  .sponsors{

background-color: #f1f1f1;
align-items: center;
margin-right: 0%;
margin-left: 0%;
margin-top: 0%;

  }

  .sponsors img{
    margin-right: 7%;
    margin-left: 10%;
  }

  #video{

background-color: #f1f1f1;
padding: 2%;


  }
