/* styling getintouch div */
.getintouch{
    background-image: url(/images/materials1.png);
    background-size: initial;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
/* 
    background-attachment: fixed;
  
    
    border: 20px;
    padding: 20pt;
    position: relative; */
    
}
html,body{
    display: flex;
    flex-direction: column;
    
}
.form{
    
}